@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
/*
    la variable $fcolor corresponde al color que se le vaya a asignar a la fuente y $color corresponde al color que se le asigne al resto de propiedades
*/
/* Establece el contenedor como una caja flexible con dirección vertical y centra verticalmente su contenido */
/* Define un mixin para establecer las propiedades 'align-items' y 'justify-content' en un contenedor flexible con argumentos opcionales */
/*************** TYPOS ***************/
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/counter-strike");
@font-face {
  font-family: "DeadZoneBold";
  src: url(../assets/fonts/Dead\ Zone\ Bold.ttf);
}
@font-face {
  font-family: "Zelda";
  src: url(../assets/fonts/zelda.otf);
}
h1, h2, h3, h4, h5, h6, a, li, p, input, label, button, textarea, blockquote, cite {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  color: #fff;
  font-size: 0.9rem;
}

.title {
  font-family: "DeadZoneBold";
  font-size: 2rem;
  background: linear-gradient(90deg, transparent 0%, #DBFE7A 0%, #DBFE7A 9.66%, #fff);
  /*background: linear-gradient(90deg, #BAC704 0%, #E1FE91 16.67%, #DBFE7A 33.33%, #E1FE91 42.19%, #E1FE91 45.31%, #FFFFFF 54.69%, #FFFFFF 100%);*/
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.counterStrike {
  font-family: "counter-strike";
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 2px #000; /* Borde doble de 2 píxeles de ancho */
  -webkit-text-fill-color: transparent; /* Relleno transparente */
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.section-title {
  color: #d1363a;
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.section-title:not(.small)::after {
  content: " |";
}

.plataform {
  width: fit-content;
  font-size: 0.7rem;
  font-weight: bolder;
  border-radius: 0.4rem;
  padding: 0.1rem;
  margin: 1rem 0;
  color: #d1363a;
}

.zelda {
  font-family: "zelda", sans-serif;
  font-size: 3rem !important;
  color: rgba(255, 33, 33, 0.1294117647);
  text-shadow: 2px 2px 4px rgba(0, 128, 0, 0.3);
}

.pubg {
  font-family: "Teko", sans-serif;
  font-size: 3rem !important;
  transition: color 0.3s ease-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.pubg:hover {
  color: #FFC300;
}

.tlou {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem !important;
  background: linear-gradient(#fff 40%, #111 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*************** END OF TYPOS ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** GLOBALS ***************/
body {
  background-color: #1f1f1f;
}

.divider {
  margin: 0.5rem 0;
  width: 8rem;
  height: 4px;
  background-color: #d1363a;
  border-radius: 0.5rem;
}

.active {
  color: #DBFE7A;
}

.required {
  color: #d1363a;
}

.alert-danger {
  display: none;
  background-color: #d1363a;
  border: none;
}
.alert-danger p {
  color: #fff;
  font-weight: bolder;
}

.alert-success {
  display: none;
  border: none;
}
.alert-success p {
  font-weight: bolder;
}

.form-group .dropdown .dropdown-menu {
  background-color: red;
  margin: 0;
  padding: 0;
  outline: none;
  inset: 0 !important;
  border: none;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 1s ease;
}

.alert-info {
  background-color: #1f1f1f;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*************** END OF GLOBALS ***************/
.modal .modal-dialog .modal-content {
  border-radius: 1rem;
  background-color: #1f1f1f;
}
.modal .modal-dialog .modal-content .modal-header {
  border: none;
  outline: none;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
  background-color: red;
}
.modal .modal-dialog .modal-content .modal-body .top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal .modal-dialog .modal-content .modal-body .top-content .iconCheck {
  width: 6rem;
  object-fit: cover;
}
.modal .modal-dialog .modal-content .modal-body .top-content p {
  padding: 0;
  margin: 0;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
  outline: none;
}
.modal .modal-dialog .modal-content .modal-footer .btn-secondary {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  font-weight: bolder;
}
.modal .modal-dialog .modal-content .modal-footer .btn-secondary:hover {
  background-color: #2ecc71;
}

.carousel-inner .carousel-item {
  position: relative;
  width: 100%;
  height: 44rem;
  padding: 0;
  margin: 0;
}
.carousel-inner .carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
}
.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  animation: aparecer 8s ease-in-out forwards, ampliar 12s ease-in-out forwards;
}
.carousel-inner .carousel-item .carousel-caption {
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 15%;
  color: white;
  text-align: center;
  text-align: center;
  z-index: 100;
}
.carousel-inner .carousel-item .carousel-caption h1 {
  width: 100%;
  font-size: 2.5rem !important;
  font-weight: bolder;
}

/* FORMS */
form {
  background-color: #1a1a1a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1rem;
}
form .form-group {
  width: 20rem;
  margin: 1rem;
}
form .form-group input, form .form-group textarea, form .form-group button {
  margin: 0.5rem 0;
}

.checkout {
  background-color: #111;
}

.checkout-preview {
  background-color: #111;
}

/* END OF FORMS */
/*************** INPUTS ***************/
input, textarea {
  color: #000;
  border: none;
  font-size: 1rem;
  border-radius: 0.9rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.9rem;
  margin: 1rem;
  background-color: #f5f5f5;
  border-color: #000;
  transition: all 0.3s ease-in-out;
}

textarea:focus, input:focus {
  outline-color: #d1363a;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

/*************** END OF INPUTS ***************/
/*************** BUTTONS ***************/
.button {
  padding: 0.375rem 0.75rem;
  color: #fff;
  font-weight: bolder;
  border: 1px solid #d1363a;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: fit-content;
  line-height: 1.5;
}
.button:hover {
  background-color: #d1363a;
  color: #fff;
}
.button:target {
  background-color: #d1363a;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-icon i {
  margin-right: 0.5rem;
}

.btn-icon.active i {
  color: green;
}

/*************** END OF BUTTONS ***************/
.card, .game-preview {
  display: flex;
  width: 20rem;
  height: auto;
  margin: 1rem;
  padding: 0 0;
  border-radius: 0.7rem;
  background-color: #111;
  z-index: 10;
}
.card .image, .game-preview .image {
  width: 100%;
  height: 15rem;
}
.card .image img, .game-preview .image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.7rem 0.7rem 0 0;
}
.card .content, .game-preview .content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.game-preview {
  position: relative;
}
.game-preview .image {
  position: relative;
}
.game-preview .image img {
  border-radius: 1rem !important;
}
.game-preview .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  z-index: 100;
  border-radius: 1rem;
  transition: all 0.3s ease;
}
.game-preview .content {
  display: flex;
  position: absolute;
  width: 20rem;
  height: 15rem;
  z-index: 1000;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease;
}
.game-preview .content button, .game-preview .content .precio {
  display: none;
}
.game-preview .content .game-title {
  color: #d1363a;
  font-weight: bolder;
}
.game-preview:hover .image::after {
  opacity: 0.8;
}
.game-preview:hover .content {
  opacity: 1;
}

.aside {
  background-color: #111;
}
.aside .form {
  color: #fff;
  padding: 2rem !important;
}
.aside .form .fieldset {
  display: flex;
  flex-direction: column;
}
.aside .form .fieldset .form-item {
  border-radius: 1rem;
}
.aside .form .fieldset .form-item:hover {
  background-color: #1f1f1f;
}

.cart-items .cart-item .image {
  width: 7rem;
  height: 7rem;
}
.cart-items .cart-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}
.cart-items .cart-item .content {
  padding: 0 1rem;
}
.cart-items .cart-item .content .button {
  width: 100%;
  font-size: 0.9rem !important;
}

.images {
  background-color: #111;
  z-index: 1;
  margin: 1rem 0;
}
.images .image {
  width: auto;
  transition: all 0.3s ease;
  z-index: 1000;
}
.images .image img {
  position: relative;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.images .image:after {
  content: "";
  position: absolute;
  background: #111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.images .image:hover {
  transform: scale(1.2);
  opacity: 1;
}
.images .image:not(:hover) {
  opacity: 0.7;
  z-index: 1;
}

/*************** HEADER ***************/
.header {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 100;
}
.header .logo img {
  height: 4rem;
}
.header .navmenu ul li {
  margin: 0 0.5rem;
}
.header .navmenu ul li a:hover {
  color: #DBFE7A;
}
.header .navmenu ul .dropdown {
  position: relative;
  z-index: 1000;
}
.header .navmenu ul .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #111;
  width: 20rem;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 0; /* añadir esta propiedad */
  transition: all 0.3s ease;
  z-index: 100;
}
.header .navmenu ul .dropdown .dropdown-menu li {
  width: fit-content;
  display: flex;
  margin: 0.3rem;
  padding: 0;
}
.header .navmenu ul .dropdown .dropdown-menu li a {
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
}
.header .navmenu ul .dropdown .dropdown-menu li:last-child a {
  border-bottom: none;
}
.header .navmenu ul .dropdown:hover .dropdown-menu {
  display: block;
  height: auto; /* añadir esta propiedad */
  z-index: 100 !important;
}
.header .navmenu ul .dropdown:hover .dropdown-menu-right {
  right: 0;
  left: auto;
}

/*************** END OF HEADER ***************/
.pagination .page-link {
  background-color: transparent;
  border: none;
  margin: 1rem;
  color: #fff;
  border-radius: 1rem;
}
.pagination .page-link:hover {
  background-color: #d1363a;
  font-weight: bolder;
  color: #DBFE7A;
}

.hero {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 40rem;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.banner .images .background {
  position: absolute;
  top: 0;
  left: 45%;
  width: 100%;
  height: 100%;
  background-color: #F47D31;
  clip-path: polygon(0 0, 100% 0, 500% 100%, 15% 100%); /* Forma diagonal */
}
.banner .images .imagen {
  height: fit-content;
  position: absolute;
  top: 3rem;
  left: 40%;
}
.banner .images .imagen img {
  width: 100%;
  object-fit: cover;
}
.banner .content {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem;
}
.banner .content .counterStrike {
  width: 100%;
  text-align: center;
  -webkit-text-fill-color: #000;
}
.banner .content .counterStrike span {
  color: #F47D31 !important;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 2px #000;
}
.banner .content .counterStrike span img {
  width: 4rem;
}
.banner .content .trailer {
  width: 100%;
}
.banner .content .trailer iframe {
  width: 100%;
  border-radius: 1rem;
}
.banner .content .options .platforms .icon {
  width: fit-content;
}
.banner .content .options .platforms .icon img {
  width: 8rem;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.banner .content .options .platforms .icon img:hover {
  transform: scale(1.3);
}

/*************** END OF HOME ***************/
/*************** FOOTER ***************/
.footer {
  background-color: #111;
}
.footer .footer-logo img {
  width: 6rem;
  margin: 0 0.5rem;
}
.footer .footer-nav ul li {
  margin: 0 0.5rem;
}
.footer .footer-nav ul li a {
  color: #8a8887;
  transition: all 0.1s ease;
}
.footer .footer-nav ul li a:hover {
  color: #b1aead;
}

/*************** END OF FOOTER ***************/

/*# sourceMappingURL=main.css.map */
