/*************** FOOTER ***************/

.footer {
    background-color: map-get($colors, primary);
    .footer-logo {
        img {
            width: 6rem;
            margin: 0 .5rem;
        }
    }
    .footer-nav {
        ul {
            li {
                margin: 0 .5rem;
                a {
                    color: map-get($colors, cgray);
                    transition: all .1s ease;
                    &:hover {
                        color: map-get($colors, cwhitest-gray);
                    }
                }
            }
        }
    }
}
/*************** END OF FOOTER ***************/
