.card {
    display: flex;
    width: 20rem;
    height: auto;
    margin: 1rem;
    padding: 0 0;
    border-radius: .7rem;
    background-color: map-get($map: $colors, $key: primary);
    z-index: 10;
    
    .image {
        width: 100%;
        height: 15rem;
        img {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: .7rem .7rem 0 0;
        }
    }
    .content {
        width: 100%;
        height: 100%;
        padding: 1rem; 
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
}
.game-preview {
    @extend .card;
    position: relative;
    .image {
      position: relative;
      
      img {
        border-radius: 1rem !important;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: map-get($map: $colors, $key: cblackest);
        opacity: 0;
        z-index: 100;
        border-radius: 1rem;
        transition: all .3s ease;
      } 
    }
    .content {
      display: flex;
      position: absolute;
      width: 20rem;
      height: 15rem;
      z-index: 1000;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      opacity: 0;
      transition: all .3s ease;
      button, .precio {
        display: none;
      }
      .game-title {
          color: map-get($map: $colors, $key: cred );
          font-weight: bolder;
      }
    }
    &:hover {
      .image {
        &::after {
          opacity: .8;
        }
      }
      .content {
        opacity: 1;
      }
    }
}
.aside {
    background-color: map-get($map: $colors, $key: primary);
    .form {
        color: map-get($map: $colors, $key: cwhite);
        padding: 2rem !important;
        .fieldset {
            display: flex;
            flex-direction: column;
            .form-item {
                border-radius: 1rem;
                &:hover {
                    background-color: map-get($map: $colors, $key: secondary);
                }
            }
        }
    }
}
.cart-items {
    .cart-item {
        .image {
            width: 7rem;
            height: 7rem ;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .7rem;
            }
        }
        .content {
            padding:0 1rem ;
            .button {
                width: 100%;
                font-size: .9rem !important;
            }
        }
    }
}
.images {
  background-color: map-get($map: $colors, $key: primary);
  z-index: 1;
  margin: 1rem 0;
  .image {
    width: auto;
    transition: all .3s ease;
    z-index: 1000;
    img {
      position: relative;
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-radius: .5rem;
    }
    &:after {
      content: "";
      position: absolute;
      background: #111;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .3;
    }
    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
    &:not(:hover) {
      opacity: .7;
      z-index: 1;
    }
  }
}