/* FORMS */
form {
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1rem;
    .form-group {
        width: 20rem;
        margin: 1rem;
        label {
            color: map-get($colors, cwhitest);
        }
        input,textarea,button {
            margin: .5rem 0;
        }
    }
}
.checkout {
    background-color: map-get($map: $colors, $key: primary);
}
.checkout-preview {
    background-color: map-get($map: $colors, $key: primary);
}
/* END OF FORMS */
