/*************** TYPOS ***************/
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/counter-strike');

@font-face {
    font-family: "DeadZoneBold";
    src: url(../assets/fonts/Dead\ Zone\ Bold.ttf);
}
@font-face {
    font-family: "Zelda";
    src: url(../assets/fonts/zelda.otf);
}
h1,h2,h3,h4,h5,h6,a,li,p,input,label,button,textarea,blockquote,cite {
    list-style: none;
    text-decoration: none;
    font-family: "Roboto";
    color:  map-get($colors, cwhite);
    font-size: .9rem;
}
.title {
    font-family: "DeadZoneBold";
    font-size: 2rem ;
    background: background-linear-gradient(90deg, map-get($colors, cgreen), 0%, map-get($colors, cwhite));
    /*background: linear-gradient(90deg, #BAC704 0%, #E1FE91 16.67%, #DBFE7A 33.33%, #E1FE91 42.19%, #E1FE91 45.31%, #FFFFFF 54.69%, #FFFFFF 100%);*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
.counterStrike {
    font-family: "counter-strike";
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 2px #000; /* Borde doble de 2 píxeles de ancho */
    -webkit-text-fill-color: transparent; /* Relleno transparente */
  }
.subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.section-title {
    color:map-get($colors, cred);
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    &:not(.small)::after {
        content: "\00a0|";
    }
}
.plataform {
    width: fit-content;
    font-size: .7rem;
    font-weight: bolder;
    border-radius: .4rem;
    padding: .1rem;
    margin: 1rem 0;
    color: map-get($colors, cred);
}
.zelda {
    font-family: 'zelda', sans-serif;
    font-size: 3rem !important;
    color: #ff212121;
    text-shadow: 2px 2px 4px rgba(0, 128, 0, 0.3);
}
.pubg {
    font-family: 'Teko', sans-serif;
    font-size: 3rem !important;
    transition: color .3s ease-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    &:hover {
        color:  #FFC300;
    }
}

.tlou {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem !important;
    background: linear-gradient(#fff 40%, #111 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
/*************** END OF TYPOS ***************/
